.container{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 20px;

}
 .product{
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 500px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   transition: o.3s;
    

 }

 .product:hover{
    transform: translateY(5px);
 }
 .product img{
    width: 250px;
    height: 300px;
    

 }
 .product p{
    font-weight: bold;
    font-size: 20px;
 }

 .product button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    

 }
  .product-count{
   display: flex;
   align-items: center;
   gap: 15px;
  }

  .product-count button{
   font-size: 30px;

  }